*{
  margin: 0px;
  padding: 0px;
}
.pokedexp{
    display:none;
}
.descargap{
    display:none;
}
body{
  margin: 0;
  font-family: sans-serif;
  background: url("fondo.jpg");
  background-attachment: fixed;
  z-index: 100;
}
header{
  width: 100%;
  background: rgb(70, 69, 69);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: 1px 1px 3px #000;
}
main{
  background: #fff;
  padding: 20px;
}
.incio-page{
  float: left;
  width: 60%;
}
aside{
  float: right;
  width: 40%;
}

h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;
  padding: 20px;
}
#btn-menu{
  display: none;
}
label{
  color: rgb(255, 255, 255);
}
header label{
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-right: 1px solid #fff;
}
header label:hover {
  cursor: pointer;
  background: rgba(32, 32, 32, 0.3);
}
.menu ul{
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex; /*importantisimo en filas horizontal*/
 /* justify-content: flex-end;* para que se valla a la derecha*/
 /*justify-content: center;*/
 flex-direction: row;/*importantisimo lo pone en vertical*/

}
.menu li {
text-align: center;
flex-grow: 1; /*para que ocupe todo el ancho */
border-right: 1px solid #fff;
}
.menu li:hover{
cursor: pointer;
background: rgb(0, 0, 0);

}
.menu li a {
display: block;
padding:  15px 20px;
color: #fff;
text-decoration:none;
}

.wrap{
   width: 90%;
   max-width: 1000px;
   margin: auto;
   overflow: hidden;
   text-justify: auto;
 }
 .centerup{
  text-align: center;
  justify-content: center;
  height: 30px;
}
.down{
  padding-bottom: 50px;
}
.filter-one{
  float: left;
}
.filter-two{
  float: right;
}
.lens{
  background: rgb(133, 16, 16);
  font-size: 20px;
  border-radius: 5px;
  color: #fff;
  }
.lens:hover{
cursor: pointer;
}
  .box{
    height: 30px;
    border-radius: 5px;
  }
.grid-ListFilter {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    padding: auto;
  }

 .grid-item {
    background-color: rgba(223, 219, 219, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: auto;
    font-size: 30px;
    text-align: center;
    border-color: #fff;
    border-radius: 10px;
    color: rgb(0, 0, 0);
  }
  img.in-line{
    display: block;
    margin: 20px auto;
  }

  @media(max-width: 768px){
    .grid-ListFilter{
      max-width: 800px;
      grid-template-columns: repeat(1, 1fr);
    }
    header label{
    display: block;
    }
    .menu {
    position: absolute;
    background: rgb(70, 69, 69);
    width: 70%;
    margin-left: -70%; /*como es negativo se sale del pantalla*/
    transition: all 0.5s;
    }
    .menu ul{
    flex-direction: column;
    }
    .menu li {
    border-top: 1px   solid #fff;
    }
    #btn-menu:checked~.menu{
    margin-left:0;
    }
    section{
      width: 100%;
    }
    aside{
      width: 100%;
    }
  }
footer{
  width: 100%;
  height: 130px;
  background: rgb(70, 69, 69);
  color: #fff;
  padding-top: 20px;
}
.social-bar{
  background: rgb(95, 95, 95);
  width: 100%;
  text-align: center;
}
footer p{
  padding-top: 10px;
  text-align: center;
}
/* Ventana Modal */
.open{
	color: rgb(0, 0, 0);
	font-size: 15px;
	margin: 20px;
	text-decoration: none;
	transition:background-color 1s;
}
.modal-dialog{
	background-color: rgba(0,0,0,.5);
	bottom: 0;
	top:0;
	left: 0;
	right: 0;
	opacity: 0;
	position: fixed;
	z-index: -2;
  transition: opacity 1s;
}

.modal-dialog:target{
  opacity: 1;
  z-index: 100;
}

.close{
	background-color: #414141;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	position: absolute;
	right: 5px;
	top:5px;
	text-align: center;
	text-decoration: none;
	width: 28px;
}

.modal{
	background-color: #111;
	box-shadow: 0px 0px 10px #000;
	border-radius: 5px;
	color: #fff;
	margin: 10% auto;
	padding: 20px;
	position: relative;
    width: 600px;
    height: 400px;
}
/* Final de Ventana Modal */
.show-letter{
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-weight: bold;
  background: #414141;
}
.top{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.show-datimg{
  margin: 50px;
  padding: 40px;
  float: right;
  background: #fff;
}
.show-img:focus{
  outline: none;
}
