  .pokedexp{
    display:none;
  }
  .descargap{
    display:none;
  }
  nav{
    width: auto;
    height: 60px;
    background: #DC290D;
    display: flex;
    justify-content: center;
  }
  .barra-menu{
    display: flex;
    list-style: none;
  }
  .letras-menu{
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  .lupa{
    background-image: url(https://assets.pokemon.com/static2/_ui/img/chrome/forms/input-search-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    height: 30px;
    width: 30px;
  }
  .caja{
    height: 30px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
    padding: 10px;
  }
  .item{
    background-color: rgba(129, 126, 126, 0.8);
    text-align: center;
    padding:20px 0;
    font-size: 30px;
  }