  .pokedexp{
    display:none;
  }
  .descargap{
    display:none;
  }
  nav{
    width: auto;
    height: 60px;
    background: #DC290D;
    display: flex;
    justify-content: center;
  }
  .barra-menu{
    display: flex;
    list-style: none;
  }
  .letras-menu{
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  .lupa{
    background-image: url(https://assets.pokemon.com/static2/_ui/img/chrome/forms/input-search-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    height: 30px;
    width: 30px;
  }
  .caja{
    height: 30px;
  }
  .grid-ListFilter {
    display: grid;
    grid-row-gap: 50px;
    grid-column-gap: 50px; 
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }